:root {
  --dark-primary-color: #1E2264;
  --primary-color: #244960;
  --light-primary-color: #CFD8DC;
  --text-primary-color: #FFFFFF;
  --accent-color: #F1CD36;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.App {
  text-align: center;
  /* background-color: #F5F5F5; */
}

.App-header {
  /* background-color: #282c34; */
  /* background: url('https://ednene.files.wordpress.com/2013/03/games-of-2013-wallpaper-by-sakis25.jpg');
  background-size: cover;
  background-position: center; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  max-height: 720px;
}

.root-page{
  width: 100vw;
  padding-top: 64px;
}

.game-square{
  box-shadow: 2px 2px 10px 2px grey;
}

.page-body {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.name-n-logo {
  display: flex;
  align-items: center;
}

h4 {
  padding: 8px;
}

.sobre-page{
  width: 100vw;
  height: calc(100vh - 64px);
  overflow-y: auto;
  background-color: var(--primary-color);
}

.areas-img{
  width: 60%;
}

.sobre-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-container {
  display: flex;
  align-items: center;
  width: 70vw;
  margin: 32px 0px;
}

@media screen and (max-width: 980px) {
  .name-n-logo{
    flex-direction: column;
  }

  .page-body{
    align-items: flex-start;
  }

  .sobre-page{
    text-align: center;
  }

  .area-container {
    flex-direction: column;
    width: 90vw;
  }

  .areas-img{
    width: 80%;
  }
}

@media screen and (max-width: 599px) {
  .root-page{
    padding-top: 56px;
  }

  .sobre-page{
    height: calc(100vh - 56px);
  }

  .areas-img{
    width: 100%;
  }
}
